/*table,th,tr,td {
    border-radius: 12px;
    border-style: solid;
    
}*/

.boldclass
{
    font-weight: bold;
}
.italicclass
{
    font-style: italic;
}
.colorClass{
color: red;
/*background-color: blue;*/
}
