<h1>Update the Housing Details </h1>
<div>
   <form #form="ngForm" (ngSubmit)="updateHouse()">
    <div>
        <label>Id</label>
        <input type="text" class="form-control" id="houseid" readonly name="houseid" [(ngModel)]="editHouseDetails.houseid"/>
        </div>
    <div>
    <label>House Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="editHouseDetails.name"/>
    </div>
    <div>
        <label>Price</label>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="editHouseDetails.price"/>
        </div>
        <div>
            <label>Age</label>
            <input type="number" class="form-control" id="age" name="age" [(ngModel)]="editHouseDetails.age"/>
            </div>
            <div>
                <label>Image Url</label>
                <input type="text" class="form-control" id="imageurl" name="imageurl" [(ngModel)]="editHouseDetails.imageurl"/>
                </div>

                <div>
                    <p-button label="Edit" severity="primary" type="ngSubmit"></p-button>
                </div>
<br><br>
                <div>
                    <p-button label="Delete" severity="primary" type="p-button" (onClick)="deleteHouse(editHouseDetails.houseid)"></p-button>
                </div>
   </form>
</div>




