<h1 [align]="'center'">FERA LUXE</h1>
<p [align]="'center'">Property Management Company</p>

<p-button label="Create Property" [routerLink]="'/properties/create'"></p-button>

<p-table [value]="properties" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Property Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            
        </tr>
   
    </ng-template>

    <ng-template pTemplate="body" let-property>
      <tr>
            <td>{{property.id}}</td>
            <td>{{property.name}}</td>
            <td>{{property.type}}</td>
            <td>{{property.price}}</td>
            <td><p-button label="Edit" severity="warning" (click)="editProperty(property.id)" ></p-button></td>
            <td><p-button label="Delete" severity="danger" (click)="deleteProperty(property.id)"></p-button></td>
        </tr>
 </ng-template>
</p-table>