@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>ViewData["Message"]</h1>
<div>
    Name : <h3>@ViewBag.Name</h3>
    City : <h3>@ViewBag.City</h3>
</div>