<h3>Pipe</h3>
<div>
    <table>
        <thead>
            <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Role</th>
            <th>Gender</th>
            <th>Data of Joining</th>  
            <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let e of employees'>
                <td>{{e.empid}}</td>
                <td>{{e.empname | employeeTitle:e.gender}}</td>
                <td>{{e.role | lowercase}}</td>
                <td>{{e.gender}}</td>
                <td>{{e.doj | date}}</td>
                <td>{{e.salary | currency:'USD':true}}</td>
            </tr>
        </tbody>
    </table>
</div>
