<p>Edit Property</p>
<br><br>
<form  (submit)="updateProperty()" class="flex flex-column align-items-center gap-3">
    <label>Property Id</label>
    <input [(ngModel)]="editedProperty.id" name="id" required/>
    <br><br>

<label>Property Name</label>
<input [(ngModel)]="editedProperty.name" name="name" required/>
<br><br>
<label>Type - HolidayHome\Coliving</label>
<input [(ngModel)]="editedProperty.type" name="type" required/>
<br><br>
<label>Price</label>
<input  [(ngModel)]="editedProperty.price" name="price" required/>
<br><br>
<button type="submit">Edit Property</button>
</form>
