<p>Luxor Holiday Homes</p>
<p-button label="Add Holiday Houses" severity="success" [routerLink]="'/create'"></p-button>
<p-table [value]="houses" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>House Name</th>
            <th>Price</th>
            <th>Age</th>
            <th>Image</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-h>
        <tr>
            <td>{{ h.name }}</td>
            <td>{{ h.price }}</td>
            <td>{{ h.age}}</td>
            <td><img [src]="h.imageurl" alt="house image"> </td>
         
          
         <p-button label="Edit" severity="help" [routerLink]="'edit/id'"></p-button>
        
       
   

    </ng-template>
</p-table>



